/* ===== Footer ===== */
.footer {
  background-color: #1e2a38;
  color: #fff;
  padding: 10px 30px;
}

.footer-content {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo + Name */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.footer-logo-img {
  width: 41px;
  height: 39px;
  object-fit: contain;
  border-radius: 50%;
}

.footer-logo-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

.footer-content p {
  margin-top: 5px;
  font-size: 1rem;
  color: #ccc;
}
